html,
body {
    height: 100% !important;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff !important;
}
div#root {
    height: 100% !important;
}
a {
    text-decoration: none !important;
    color: #fff !important;
}

main {
    min-height: 100% !important;
    position: relative !important;
}
li {
    list-style-type: none;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0px;
}
a {
    text-decoration: none !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #41e0fd !important;
}
.nav-link {
    color: #000 !important;
}
footer {
    position: absolute;
    width: 100%;
}
.text-justify {
    text-align: justify;
}
